<h1>Create Heroine:</h1>

<%=form_for(@heroine) do |f|%>
  <b><%=f.label :name%></b><br>
  <%=f.text_field :name%><br>
  <b><%=f.label :super_name%></b><br>
  <%=f.text_field :super_name%><br>
  <%=f.collection_select :power_id, Power.all, :id, :name%>
  <%=f.submit%>
<%end%>
